@forward './flex-addon';

@use 'node_modules/quasar/src/css/variables.sass' as q;
@use '../variables' as *;

%text- {
  @each $heading, $value in q.$headings {
    &#{$heading} {
      font-size: map-get($value, 'size');
      font-weight: map-get($value, 'weight');
      line-height: map-get($value, 'line-height');
      letter-spacing: map-get($value, 'letter-spacing');
    }
  }
}

%item-box-title {
  font-size: $item-box-title-font-size;
  font-weight: $item-box-title-font-weight;
  color: $item-box-title-color;
}

%item-box-value {
  font-size: $item-box-value-font-size;
  font-weight: $item-box-value-font-weight;
  color: $item-box-value-color;
}

%anchor-link {
  color: $anchor-link-color;
  text-decoration: none;
  cursor: pointer;
  &:not([disabled]):hover {
    text-decoration: underline;
  }
  &[disabled] {
    color: $text-disabled;
    cursor: not-allowed !important;
  }
}
