@import './partials/flex-layout';

//--------------------------------------------------
//  Quasar
//--------------------------------------------------

// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #1a237e !default;
$secondary: #26a69a !default;
$accent: #ff4081ff !default;
$positive: #21ba45 !default;
$negative: #c10015 !default;
$info: #31ccec !default;
$warning: #f2c037 !default;

@import 'node_modules/quasar/src/css/variables';

//--------------------------------------------------
//  Application
//--------------------------------------------------

$text-primary: $grey-9 !default;
$text-secondary: $grey-8 !default;
$text-light: $grey-7 !default;
$text-disabled: $grey-6 !default;
$text-accent: $pink-5 !default;
$text-error: $red-10 !default;

$color-red: red !default;
$color-blue: blue !default;
$color-green: green !default;
$color-purple: purple !default;
$color-orange: orange !default;

%text- {
  @each $heading, $value in $headings {
    &#{$heading} {
      font-size: map-get($value, 'size');
      font-weight: map-get($value, 'weight');
      line-height: map-get($value, 'line-height');
      letter-spacing: map-get($value, 'letter-spacing');
    }
  }
}

$text-weight-thin: map-get($text-weights, 'thin') !default;
$text-weight-light: map-get($text-weights, 'light') !default;
$text-weight-regular: map-get($text-weights, 'regular') !default;
$text-weight-medium: map-get($text-weights, 'medium') !default;
$text-weight-bold: map-get($text-weights, 'bold') !default;
$text-weight-bolder: map-get($text-weights, 'bolder') !default;

$app-theme-color: $indigo-10;
$app-page-bg-color: $grey-2;
$app-header-height: 50px;

$app-item-title-color: $grey-10 !default;
$app-item-title-font-size: 13px !default;
$app-item-title-font-weight: $text-weight-regular !default;

%app-item-title {
  font-size: $app-item-title-font-size;
  font-weight: $app-item-title-font-weight;
  color: $app-item-title-color;
}

$app-item-value-color: $grey-7 !default;
$app-item-value-font-size: 13px !default;
$app-item-value-font-weight: $text-weight-regular !default;

%app-item-value {
  font-size: $app-item-value-font-size;
  font-weight: $app-item-value-font-weight;
  color: $app-item-value-color;
}

$app-link-color: $indigo-8 !default;
$app-link-font-weight: $text-weight-regular !default;

%app-link {
  color: $app-link-color;
  text-decoration: none;
  cursor: pointer;
  &:not([disabled]):hover {
    text-decoration: underline;
  }
  &[disabled] {
    color: $text-disabled;
    cursor: not-allowed !important;
  }
}
