@forward './space';

@use '../variables' as *;
@use '../partials';

.text-primary {
  color: $text-primary;
}
.text-secondary {
  color: $text-secondary;
}
.text-light {
  color: $text-light;
}
.text-disabled {
  color: $text-disabled;
}
.text-accent {
  color: $text-accent;
}
.text-error {
  color: $text-error;
}

.color-red {
  color: $color-red !important;
}
.color-blue {
  color: $color-blue !important;
}
.color-green {
  color: $color-green !important;
}
.color-purple {
  color: $color-purple !important;
}
.color-orange {
  color: $color-orange !important;
}

@for $i from 1 through 20 {
  .text-size-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 1 through 20 {
  .sm-text-size-#{$i} {
    body.screen--sm & {
      font-size: #{$i}px;
    }
  }
}

@for $i from 1 through 20 {
  .xs-text-size-#{$i} {
    body.screen--xs & {
      font-size: #{$i}px;
    }
  }
}

@for $i from 1 through 20 {
  .ltmd-text-size-#{$i} {
    body.screen--xs &,
    body.screen--sm & {
      font-size: #{$i}px;
    }
  }
}

@for $i from 1 through 20 {
  .ltlg-text-size-#{$i} {
    body.screen--xs &,
    body.screen--sm &,
    body.screen--md & {
      font-size: #{$i}px;
    }
  }
}

.anchor-link {
  @extend %anchor-link;
}
