@for $num from 0 through 50 {
  .space-mt-#{$num} {
    margin-top: #{$num}px !important;
  }

  .space-mr-#{$num} {
    margin-right: #{$num}px !important;
  }

  .space-mb-#{$num} {
    margin-bottom: #{$num}px !important;
  }

  .space-ml-#{$num} {
    margin-left: #{$num}px !important;
  }

  .space-mx-#{$num} {
    margin-right: #{$num}px !important;
    margin-left: #{$num}px !important;
  }

  .space-my-#{$num} {
    margin-top: #{$num}px !important;
    margin-bottom: #{$num}px !important;
  }

  .space-ma-#{$num} {
    margin: #{$num}px #{$num}px !important;
  }

  .space-pt-#{$num} {
    padding-top: #{$num}px !important;
  }

  .space-pr-#{$num} {
    padding-right: #{$num}px !important;
  }

  .space-pb-#{$num} {
    padding-bottom: #{$num}px !important;
  }

  .space-pl-#{$num} {
    padding-left: #{$num}px !important;
  }

  .space-px-#{$num} {
    padding-right: #{$num}px !important;
    padding-left: #{$num}px !important;
  }

  .space-py-#{$num} {
    padding-top: #{$num}px !important;
    padding-bottom: #{$num}px !important;
  }

  .space-pa-#{$num} {
    padding: #{$num}px #{$num}px !important;
  }
}

.space-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
