@use '../variables' as v;

body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-weight: v.$text-weight-regular;
  color: #{v.$text-primary};
  background-color: #ffffff;
}

[hidden] {
  display: none !important;
}

[invisible] {
  visibility: hidden !important;
}
